/* Variables */
:root {
    --purple: rgb(133, 8, 133);
    --white: #fff;
}

/* importing google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Condensed:wght@300&display=swap');



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; 
}

body {
    background: var(--purple);
}

.start-btn,
.info-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Start Quiz Button styling */
.start-btn button {
    font-size: 25px;
    font-weight: 500;
    color: var(--purple);
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: var(--white);
    cursor: pointer;
}

.info-box {
    width: 540px;
    background: var(--white);
    border-radius: 5px;
}

.info-box .info-title {
    height: 60px;
    width: 100%;
    border-bottom: 1px solid lightslategrey;
    display: flex;
    align-items: center;
    padding: 0 35px;
    font-size: 20px;
    font-weight: 600;
}

.info-box .info-list {
    padding: 15px 35px;
}

.info-box .info-list .info {
    margin: 5px 0px;
    font-size: 17px;
}

.info-box .info-list .info span {
    font-weight: 600;
    color: var(--purple);
}

.info-box .buttons {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 35px;
    border-top: 1px solid lightslategrey;
}

