/* Variables */
:root {
    --purple: rgb(133, 8, 133);
    --white: #fff;
    --lightBlue: #cce5ff;
    --lightGreen: #1fc27e;
    --darkGreen: #0a647d; 
}

/* importing google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Condensed:wght@300&display=swap');



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; 
}

body {
    background: var(--purple);
}

.start-btn,
.info-box,
.quiz-box,
.result-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
}

.info-box.activeInfo,
.quiz-box.activeQuiz {
    z-index: 5;
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

/* Start Quiz Button styling */
.start-btn button {
    font-size: 25px;
    font-weight: 500;
    color: var(--purple);
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: var(--white);
    cursor: pointer;
}

.info-box {
    display: none;
    width: 540px;
    background: var(--white);
    border-radius: 5px;
}

.info-box .info-title {
    height: 60px;
    width: 100%;
    border-bottom: 1px solid lightslategrey;
    display: flex;
    align-items: center;
    padding: 0 35px;
    font-size: 20px;
    font-weight: 600;
}

.info-box .info-list {
    padding: 15px 35px;
}

.info-box .info-list .info {
    margin: 5px 0px;
    font-size: 17px;
}

.info-box .info-list .info span {
    font-weight: 600;
    color: var(--purple);
}

.info-box .buttons-1 {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 35px;
    border-top: 1px solid lightslategrey;
}


.info-box .buttons-1 button {
    margin: 0 5px;
    height: 40px;
    width: 100px;
    outline: none;
    border: 1px solid (--purple);
    border-radius: 5px;
    color: var(--white);
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}


#restart {
    color: var(--white);
    background: var(--purple);
}

#quit {
    color: var(--purple);
} 

.quiz-box {
    display: none;
    width: 550px;
    background: var(--white);
    border-radius: 5px;
} 

.quiz-box header {
    position: relative;
    z-index: 99;
    height: 70px;
    padding: 0 30px;
    background: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px 5px 0 0;
    box-shadow: 0px 3px 5px 1px;
}

.quiz-box header .title {
    font-size: 20px;
    font-weight: 600;

}
.quiz-box header .timer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 145px;
    height: 45px;
    background: var(--lightBlue);
    border: 1px solid #b8daff;
    border-radius: 5px;
    padding: 0 8px;
}

.quiz-box header .timer .timer-text {
    font-weight: 400;
    font-size: 17px;
    user-select: none;
}

.quiz-box header .timer .timer-sec {
    font-size: 18px;
    font-weight: 500;
    background: #343a40;
    height: 30px;
    width: 45px;
    color: var(--white);
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    border: 1px solid #343a40;
    user-select: none; 
}

.quiz-box section {
    padding: 25px 30px 20px 30px;
    background: var(--white);

}

.quiz-box section .que-text {
    font-size: 25px;
    font-weight: 600;
    text-align: center;
}

.quiz-box section .option-list {
    padding:  20px 0;
    display: block;
}

section .option-list .option {
    background: aliceblue;
    border: 1px solid #84c5fe;
    border-radius: 5px;
    padding: 8px 15px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: all 0.3s ease;
}

section .option-list .option:hover {
    color: #004085;
    background: #cce5ff;
    border-color: #b8daff;
}


.option-list .option:last-child {
    margin-bottom: 0px;
}

.option-list .option .icon {
    height: 26px;
    width: 26px;
    border: 2px solid transparent;
    border-radius: 50%;
    text-align: center;
    font-size: 13px;
    line-height: 24px;
    pointer-events: none;
}

.option-list .option .tick {
    color: #23904c;
    border-color: #23903c;
    background: #d4edda;
}

.option-list .option .cross {
    color: #a42834;
    background: #f8d7da;
    border-color: #a42834;
}

.option-list .option.correct{
    color: #23903c;
    background: #d4edda;
    border-color: #c3e6cb;
}


.option-list .option.incorrect{
    color: #721c24;
    background: #f8d7da;
    border-color: #f5c6cb;
}

.option-list .option.disabled {
    pointer-events: none;
}

.quiz-box footer {
    height: 60px;
    width: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quiz-box footer .total-que span {
    display: flex;
    user-select: none;
}

footer .total-que span p {
    font-weight: 500;
    padding: 0 5px;
}


footer .total-que span p:first-child {
    padding-left: 0px;
}

footer #next-btn {
    display: none;
    height: 40px;
    padding: 0 13px;
    font-size: 18px;
    font-weight: 400;
    border: none;
    outline: none;
    color: var(--white);
    background: var(--purple);
    border-radius: 5px;
    border: 1px solid --purple;

}



.result-box {
    background: var(--white);
    width: 450px;
    padding: 25px 30px;
    border-radius: 5px;
    display: none;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
}

.result-box .icon {
    font-size: 100px;
    color: var(--darkGreen);
    margin-bottom: 10px;
}

.result-box .complete-text {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

.result-box .score-text span {
    display: block;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}

.score-text span p {
   font-weight: 500;
   padding: 0 4px;
   text-align: center;
}



.result-box .buttons-5 button {
    margin: 0 10px;
    height: 40px;
    padding: 0 20px;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    border: 1px solid white;
    background: var(--purple);
    cursor: pointer;
    transition: all 0.3s ease;

}